


<h1>出品物一覧</h1>
<%= will_paginate @items, :prev_label=>'«前', :next_label=>'次»' %> 


<% @items.each do |item| %>
  <table border="1">
    <tr bgcolor="#c87251">
      <th>ID</th>
      <th>商品名</th>
      <th>出品者</th>
      <th>カテゴリー</th>
      <th>締め切り期限</th>
      <th>希望金額</th>
      <th>コメント数</th>
      <th>詳細</th>


    <tr>
      <td width="100"><%= item.id %></td>
      <td width="300"><%= item.name %></td>
      <td width="200"><%= item.user.name %></td>
      <td width="200"><%= Item::CATEGORIES.rassoc(item.category)[0] %></td>
      <td width="300"><%= item.dead_line.strftime("%Y/%m/%d %H:%M ") %></td>
      <td width="200"><%= item.price %> 円</td>
      <td width="300"><%= item.bids.count %></td>
      <td><%= button_to "detail", :controller => "top", :action => "detail", :id => item.id  %></td>
             
    </tr>
  </table>
   </br>
  </br>
 
<% end %>
