<div id = 'footer'>
<%= link_to "出品する", :controller => "items", :action => "new"  %>
<%= link_to "一覧ページ", :controller => "top", :action => "index"  %>
<%= link_to "出品物一覧", :controller => "items", :action => "admin"  %>
<%= link_to "入札商品一覧", :controller => "top", :action => "mylist"  %>
<%= link_to "はじめに", :controller => "items", :action => "rule"  %>
</div>
