<!DOCTYPE html>
<html>
<head>
  <title>Auction</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= link_to "Antique", :controller => "top", :action => "side_search" , :id => 1%>
<%= link_to "Art", :controller => "top", :action => "side_search" , :id => 2%>
<%= link_to "Baby", :controller => "top", :action => "side_search" , :id => 3%>
<%= link_to "Business & Industrial", :controller => "top", :action => "side_search" , :id => 4%>
<%= link_to "Cameras & Photo", :controller => "top", :action => "side_search" , :id => 5%>
<%= link_to "Cars,Boats Vehicle & Parts", :controller => "top", :action => "side_search" , :id => 6%>
<%= link_to "Cell Phone & PDAs", :controller => "top", :action => "side_search" , :id => 7%>
<%= link_to "Clothing Shoes & Accessories", :controller => "top", :action => "side_search" , :id => 8%>
<%= link_to "Coins & Paper Money", :controller => "top", :action => "side_search" , :id => 9%>
<%= link_to "Collectibles", :controller => "top", :action => "side_search" , :id => 10%>
<%= link_to "Computers & Networking", :controller => "top", :action => "side_search" , :id => 11%>
<%= link_to "Consumer Electronics", :controller => "top", :action => "side_search" , :id => 12%>
<%= link_to "Crafts", :controller => "top", :action => "side_search" , :id => 13%>
<%= link_to "Dolls & Bears", :controller => "top", :action => "side_search" , :id => 14%>
<%= link_to "DVDs & Moneys", :controller => "top", :action => "side_search" , :id => 15%>
<%= link_to "Entertainment Memorabilia", :controller => "top", :action => "side_search" , :id => 16%>
<%= link_to "Gift Cards & Coupons", :controller => "top", :action => "side_search" , :id => 17%>
<%= link_to "Health Beauty", :controller => "top", :action => "side_search" , :id => 18%>
<%= link_to "Home & Garden", :controller => "top", :action => "side_search" , :id => 19%>
<%= link_to "Jewelry & Watches", :controller => "top", :action => "side_search" , :id => 20%>
<%= link_to "Music", :controller => "top", :action => "side_search" , :id => 21%>
<%= link_to "Pet Supplies", :controller => "top", :action => "side_search" , :id => 22%>
<%= link_to "Pottery & Glass", :controller => "top", :action => "side_search" , :id => 23%>
<%= link_to "Real Estate", :controller => "top", :action => "side_search" , :id => 24%>
<%= link_to "Sporting Goods", :controller => "top", :action => "side_search" , :id => 25%>
<%= link_to "Stamps & Tickets", :controller => "top", :action => "side_search" , :id => 26%>
<%= link_to "Toys & Hobbies", :controller => "top", :action => "side_search" , :id => 27%>
<%= link_to "Travel", :controller => "top", :action => "side_search" , :id => 28%>
<%= link_to "Video Games", :controller => "top", :action => "side_search" , :id => 29%>
<%= link_to "Everything Else", :controller => "top", :action => "side_search" , :id => 30%>
</body>
<%= yield %>

</html>

